body {
	background-image: url(grass.jpg);
	background-size: 100%;
}
#uzenet {
	background-color: green;
	color: white;
	padding: 20px;
	text-align: center;
}
img {
	position: absolute;
	height: 100px;
	padding: 30px;
}